<div class="section--sm mt-5" id="faqs">
    <div class="section__head">
        <div class="container pt-5">
            <div class="row justify-content-center">
                <div class="col-md-8 col-xl-6">
                    <div class="text-center">
                        <h1 class="text-capitalize mt-5 text-font">Frequently Asked Questions</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row g-4">
            <div class="col-md-6">
                <div class="accordion vf-accordion" id="faqAccordion">
                    <div class="accordion-item vf-accordion__item">
                        <h2 class="accordion-header vf-accordion__header">
                            <button class="accordion-button vf-accordion__btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true">
                                Why should I learn karate?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#faqAccordion">
                            <div class="accordion-body vf-accordion__body">
                                The benefits of Karate practice are huge!, Karate can increase your physical strength,
                                coordination,
                                balance, flexibility and stamina. Whatever you do in your life becomes a little easier
                                because of
                                karate. Karate not only trains your body but also trains your mind! It improves
                                self-awareness,
                                discipline, confidence and will power. Not only will you become more confident that you
                                can defend
                                yourself, but your confidence will increase to deal with all of life's trials.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item vf-accordion__item">
                        <h2 class="accordion-header vf-accordion__header">
                            <button class="accordion-button vf-accordion__btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false">
                                How much does it cost?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                            <div class="accordion-body vf-accordion__body">
                                We don't take any charge (cost) for it. we are providing absolutely free.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item vf-accordion__item">
                        <h2 class="accordion-header vf-accordion__header">
                            <button class="accordion-button vf-accordion__btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false">
                                What do I need to wear?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                            <div class="accordion-body vf-accordion__body">
                                All students are required to wear a karate uniform (Gi) to class.students will need to
                                have a plain
                                white t-shirt under their uniform top!
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item vf-accordion__item">
                        <h2 class="accordion-header vf-accordion__header">
                            <button class="accordion-button vf-accordion__btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false">
                                Do I need to have previous karate or martial arts experience?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                            <div class="accordion-body vf-accordion__body">
                                <b>ABSOLUTELY NOT!</b> Most of our new students do not have any experience, and that is
                                100% fine!
                                We’ll be able to help you along every step of the way to your success!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="accordion vf-accordion" id="faqAccordion2">
                    <div class="accordion-item vf-accordion__item">
                        <h2 class="accordion-header vf-accordion__header">
                            <button class="accordion-button vf-accordion__btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="true">
                                How old should a child be before starting karate?
                            </button>
                        </h2>
                        <div id="collapseOne2" class="accordion-collapse collapse show" data-bs-parent="#faqAccordion2">
                            <div class="accordion-body vf-accordion__body">
                                Age 8 seems about the perfect age to start karate. Students younger than 8 years old
                                need to ‘Try Out’
                                to see if Karate is a good fit for them. We do have a few 6 and 7 year old kids that
                                have shown that
                                they have developed far enough to pay proper attention and sit still enough to listen
                                without causing
                                distraction for the other students. The style we do for Self Defense and that is
                                sometimes just not
                                possible to teach a 6 and 7 year old in an effective manner.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item vf-accordion__item">
                        <h2 class="accordion-header vf-accordion__header">
                            <button class="accordion-button vf-accordion__btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="false">
                                How often should I practice?
                            </button>
                        </h2>
                        <div id="collapseTwo2" class="accordion-collapse collapse" data-bs-parent="#faqAccordion2">
                            <div class="accordion-body vf-accordion__body">
                                That is a very common question that has an easy answer. Whenever you have time! We
                                suggest setting
                                aside at least 1 hour per week for practicing outside of class, that is only 10 minutes
                                per day!
                                Obviously the more you practice, the better you will become. The more you practice
                                outside of class,
                                the less repeating we need to do during class to have you caught back up to speed from
                                the previous
                                sessions!
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item vf-accordion__item">
                        <h2 class="accordion-header vf-accordion__header">
                            <button class="accordion-button vf-accordion__btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree2" aria-expanded="false">
                                How coordinated and physically fit do I have to be to practice karate?
                            </button>
                        </h2>
                        <div id="collapseThree2" class="accordion-collapse collapse" data-bs-parent="#faqAccordion2">
                            <div class="accordion-body vf-accordion__body">
                                Most world karate champions, like any top athlete, were probably well-coordinated
                                natural athletes
                                before they began their karate training. Most of us, however, come to karate in order to
                                become more
                                coordinated and physically fit. So the brief answer is, “not very”. Even if you feel
                                like the world’s
                                biggest klutz you can still practice karate. By doing so, your coordination and fitness
                                will greatly
                                improve.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item vf-accordion__item">
                        <h2 class="accordion-header vf-accordion__header">
                            <button class="accordion-button vf-accordion__btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour2" aria-expanded="false">
                                What do I call the teacher?
                            </button>
                        </h2>
                        <div id="collapseFour2" class="accordion-collapse collapse" data-bs-parent="#faqAccordion2">
                            <div class="accordion-body vf-accordion__body">
                                Instructors are addressed as “Sensei”. Sensei is a Japanese title of respect (sort of
                                like “Sir” or
                                “Mister”). It means “teacher” and is literally translated as “before birth” which infers
                                that the
                                instructor is someone older than yourself. In this case we are speaking of “karate age”.
                                In other
                                words, an instructor is someone who has more karate experience than yourself. Sensei and
                                “Master” are
                                titles which people use to refer to or address someone else. It is considered very
                                improper to refer
                                to oneself as Sensei or Master.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
