.footer {
    background: #1D1F1F;
}
.section {
    padding-top: 100px;
    padding-bottom: 100px
}
.list--row {
    flex-direction: row;
    flex-wrap: wrap;
}
.list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.list--row__item {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 1rem;
}

.t-link {
    text-decoration: none;
    transition: all 0.3s ease;
}
.social-icon--alt {
    border: 1px solid #333535;
    background: #333535;
}
.bi{
    color: #fff;
}
.social-icon, .social-icon--primary, .social-icon--alt {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid #A2A2A3;
    font-size: 24px;
    line-height: 1;
    color: #A2A2A3;
    background: rgba(255, 255, 255, 0.1);
}


.list--row__item:last-child {
    margin-right: 0;
}

.list--column__item {
    margin-bottom: 1rem;
}

.icon--lg{
    width: 60px;
    height: 60px;
    line-height: 50px;
    font-size: 30px;
}

.icon--circle {
    border-radius: 50%;
    text-align: center;
}


@media (min-width: 992px){
.col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
}