.images{
    margin: auto;
    padding-left: 100px;
}
.text-font{
    margin: 1.5rem 0 2rem;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    line-height: 1.15;
    font-size: 3rem;
}
.icon--lg{
    width: 70px;
    height: 70px;
    line-height: 60px;
    font-size: 30px;
}

.icon--circle {
    border-radius: 50%;
    text-align: center;
}