<div class="section-sm" id="facilites">
  <div class="container pt-5">
    <div class="row justify-content-center">
      <div class="col-lg-6 d-none d-lg-block images">
        <img
          src="../../assets/facilites/2.png"
          alt="Impact"
          width="380"
          class="img-fluid"
        />
      </div>
      <div class="col-md-10 col-lg-6 mt-5">
        <h2 class="text-capitalize text-font mt-0 text-center text-lg-start">
          We Provide the Facilites For Student
        </h2>
        <div class="row g-4 g-xxl-5">
          <div class="col-md-6">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <div class="icon icon--circle icon--lg bg-primary text-white">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="25"
                    height="25"
                    fill="currentColor"
                    class="bi bi-lightning-charge"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41 4.157 8.5z"
                    />
                  </svg>
                </div>
              </div>
              <div class="ms-3">
                <p class="mb-2 fw-bold text-capitalize t-text-heading">
                  saturday special training
                </p>
                <p class="mb-0">
                  There will be special training on every Saturday.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <div
                  class="icon icon--circle icon--lg bg-primary text-white"
                >
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chat-square-dots" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                  </svg>
                </div>
              </div>
              <div class="ms-3">
                <p class="mb-2 fw-bold text-capitalize t-text-heading">
                  monthly training Discussion
                </p>
                <p class="mb-0">
                  Training discussion will be held every month with the
                  management.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <div
                  class="icon icon--circle icon--lg bg-primary text-white"
                >
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-calendar-check" viewBox="0 0 16 16">
                    <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                  </svg>
                </div>
              </div>
              <div class="ms-3">
                <p class="mb-2 fw-bold text-capitalize t-text-heading">
                  Monthly Parents meeting
                </p>
                <p class="mb-0">Parents meeting will be held every month.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
