<div class="container mt-5 pt-3 mb-5">
    <div class="row g-4">
        <div class="col-md-4">
            <div class="service-card bg-dark text-center">
                <img src="../../assets/logo/icon-trainer.png" alt="Impact" class="img-fluid">
                <h4 class="text-capitalize text-white mt-3">expert trainer</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-card bg-primary text-center">
                <img src="../../assets/logo/icon-note.png" alt="Impact" class="img-fluid">
                <h4 class="text-capitalize text-white mt-3">Sports Guideline</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-card bg-dark text-center">
                <img src="../../assets/logo/icon-chat.png" alt="Impact" class="img-fluid">
                <h4 class="text-capitalize text-white mt-3">12/7 Support</h4>
            </div>
        </div>
    </div>
</div>