.text-font {
    margin: 1.5rem 0 2rem;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    line-height: 1.15;
    font-size: 2.9rem;
  }
  
  .list--column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.list--column__item {
    margin-bottom: 1rem;
}
.contact-section {
    background: #33BDFF;
}


.contact-icon-box {
    position: relative;
}

.list--column__item:last-child {
    margin-bottom: 0;
}

.query {
    padding: 30px;
    border-radius: 5px;
}

.form-control-custom--outline-dark {
    border-color: #d8d7d7;
    color: #4e4e4e;
}

.form-control-custom {
    height: 50px;
    line-height: 48px;
    border-radius: 3px;
    font-size: 16px;
}

 

@media screen and (min-width: 992px) {
.contact-section {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(37%, transparent), color-stop(37%, #33BDFF));
    background: linear-gradient(to bottom, transparent 37%, #33BDFF 37%);
}

.text-lg-start {
    text-align: left!important;
}

}

@media (min-width: 768px){
.text-md-start {
    text-align: left!important;
}
}

