.img-size-change{
    height: 34vh;
    width: 50vh;
    transition: transform .2s;
}
.img-size-change:hover{
  transform: scale(1.1)
}

.text-font {
    margin: 1.5rem 0 2rem;
    font-family: "DM Serif Display", serif;
    font-weight: 550;
    line-height: 1.15;
    font-size: 3rem;
  }