.banner-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url("../../assets/logo/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  background-attachment: fixed;
}
.impact-font{
    font-family: 'Black Ops One';
    font-size: 4rem;
    font-weight: bold;
}